* {
    margin: 0;
    padding: 0;
}

.toolbox-cont {
    background-color: #4b4b4b;
    height: 100px;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont {
    display: flex;
    background-color: #3d3d3d;
    width: 300px;
    height: 70px;
    margin-left: 30px;
    justify-content: space-around;
    align-items: center;
}

.color {
    width: 40px;
    height: 30px;
    background-color: aqua;
}

.color:hover {
    background-color: #485460;
}

.lightpink {
    background-color: lightpink;
}

.lightblue {
    background-color: lightblue;
}

.lightgreen {
    background-color: lightgreen;
}

.black {
    background-color: black;
}

.action-btn-cont {
    background-color: #3d3d3d;
    height: 70px;
    display: flex;
    width: 100px;
    margin-left: 30px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    width: 50%;
}

.add-btn:hover {
    background-color: #4BB543;
}

.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    width: 50%;
}

.remove-btn:hover {
    background-color: #4BB543;
}